h2 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: x-large;
  font-weight: bold;
  color: white;
  line-height: 5.0;
  padding-top: -30%;
}

nav {
  background-color: rgb(215, 54, 61);
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  color: white;
  font-family: 'Roboto-Bold', sans-serif;
}

li {
  display: inline;
  padding: 30px;
  color: white;
}

.paragraph {
  color: white;
  top: -40px;
}

input[type=text] {
  width: 10%;
  box-sizing: border-box;
}

body {
  background-color: rgb(215, 54, 61);
}

.navbar {
  font-family: 'Roboto-Bold', sans-serif;
  color: white;
}

.navbar-brand {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}



.nav-item {
  font-size: 1.3rem;
  padding: 0 15px;
  color: white;
}

.dropdown-menu {
  background-color: rgb(215, 54, 61);
}

.dropdown-item:hover {
  background-color: #E08E8E;
}

.adress {
  text-align: left;
}

.footer-img {
  padding-top: 1.7%;
  width: 50%;
  height: 50%;
}

footer {
  padding-top: 12%;
}

footer h4 {
  padding-top: 4%;
}

.footer-img img {
  padding-top: 1.7%;
  width: 100%;
  height: 100%;
}

.social-media {
  padding-top: 2%;
}

.sm-icon {
  margin-right: 5%;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-whatsapp-square {
  color: #25D366;
}

.copyright {
  text-align: center;
  padding-top: 5%;
}
