@import "back-to-the-top-btn.css";

/* whole page*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto-Medium', sans-serif;
}

h1 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto-Medoium';
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 7%;
}

h3 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: bold;
}

h4,
h6 {
  font-family: 'Roboto-Medium', sans-serif;
}

button a {
  color: #000;
}

button a:hover {
  text-decoration: none;
  color: #000;
}

/* main section */
#main {
  background-color: rgb(215, 54, 61);
  color: rgb(255, 255, 255);
}

nav {
  background-color: rgb(215, 54, 61);
}

.container-fluid {
  padding: 2% 15% 5%;
}

.container {
  margin-top: 4.5%;
}

.navbar-brand {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.nav-item {
  font-size: 1.3rem;
  padding: 0 15px;
}

.dropdown-menu {
  background-color: rgb(215, 54, 61);
}

.dropdown-item:hover {
  background-color: #E08E8E;
}

.main-text {
  padding-top: 2.3%;
}

.main-photo {
  padding: 4% 15% 2%;
}

.contact-button {
  background-color: rgb(255, 204, 3);
  font-weight: bold;
  margin: 5% 3% 5% 0;
}

.contact-button:hover {
  transform: scale(1.05) perspective(1px);
}

/* moving*/
#moving {
  background-color: #FFF;
  padding: 7% 15%;
  position: relative;
}

/* landscaping */
#testimonials {
  font-family: 'Roboto-Medium';
  text-align: center;
  background-color: #D7363D;
  color: #FFF;
}

/* cleaning  */
#cleaning {
  background-color: #FFF;
  padding: 7% 15%;
  position: relative;
}

/* renovating*/
#renovation {
  background-color: #D7363D;
  color: #FFF;
  padding: 5% 15%;
  position: relative;
  text-align: center;
}

/* footer */
.adress {
  text-align: left;
}

.footer-img img {
  padding-top: 1.7%;
  width: 100%;
  height: 100%;
}

footer h4 {
  padding-top: 4%;
}

.social-media {
  padding-top: 2%;
}

.social-media a {
  color: #000;
}

.social-media a:hover {
  text-decoration: none;
  color: blue;
}

.sm-icon {
  margin-right: 5%;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-whatsapp-square {
  color: #25D366;
}

.copyright {
  text-align: center;
  padding-top: 5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
