@import "map.css";
@import "back-to-the-top-btn.css";

/* whole page*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto-Medium', sans-serif;
}

h1 {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

h2 {
  font-family: 'Roboto-Medium';
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 7%;
}

h3 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: bold;
}

h4,
h6 {
  font-family: 'Roboto-Medium', sans-serif;
}

button a {
  color: #000;
}

button a:hover {
  text-decoration: none;
  color: #000;
}

/* main section */
#main {
  background-color: rgb(215, 54, 61);
  color: rgb(255, 255, 255);
}

nav {
  background-color: rgb(215, 54, 61);
}

.container-fluid {
  padding: 2% 15% 5%;
}

.container {
  margin-top: 4.5%;
}

.navbar-brand {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.nav-item {
  font-size: 1.3rem;
  padding: 0 15px;
}

.dropdown-menu {
  background-color: rgb(215, 54, 61);
}

.dropdown-item:hover {
  background-color: #E08E8E;
}

.main-text {
  padding-top: 2.3%;
}

.main-photo {
  padding: 4% 15% 2%;
}

.contact-button {
  background-color: rgb(255, 204, 3);
  font-weight: bold;
  margin: 5% 3% 5% 0;
}

.contact-button:hover {
  transform: scale(1.05) perspective(1px);
}

/* features section  */
#features {
  background-color: #FFF;
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  text-align: center;
}

.feature-icon {
  margin-top: 5%;
  padding-bottom: 4.5%;
  color: #D7363D;
}

.feature-icon:hover {
  color: rgb(255, 204, 3);
}

.feature-box p {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: bolder;
}

/* testimonial section */
#testimonials {
  font-family: 'Roboto-Medium';
  text-align: center;
  background-color: #D7363D;
  color: #FFF;
}

.carousel-inner {
  padding-top: 5%;
}

.carousel-item p {
  font-family: 'Roboto';
  font-size: 2.8rem;
  font-weight: bold;
}

.testimonial-image {
  width: 7%;
  height: 7%;
  border-radius: 100%;
  margin: 4% 2%;
}

/* local business section  */
#local-business {
  background-color: #FFF;
  padding: 7% 15%;
  position: relative;
}

/* call for action section */
#call-for-action {
  background-color: #D7363D;
  color: #FFF;
  padding: 5% 15%;
  position: relative;
  text-align: center;
}

.typing-effect {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1281px) {
  .typing-effect {
    display: flex;
    flex-direction: column;
  }
}

.typing-effect h2 {
  font-family: 'Roboto';
}

.typing {
  font-family: 'Roboto';
  position: relative;
  margin-left: 10px;
  text-align: center;
}

.typing::after {
  content: "";
  position: absolute;
}

.form-button {
  background-color: #B3FF03;
  font-weight: bold;
  margin: 5% 3% 5% 0;
}

.form-button:hover {
  transform: scale(1.05) perspective(1px);
}

/* footer */
.adress {
  text-align: left;
}

.footer-img img {
  padding-top: 1.7%;
  width: 100%;
  height: 100%;
}

footer h4 {
  padding-top: 4%;
}

.social-media {
  padding-top: 2%;
}

.sm-icon {
  margin-right: 5%;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-whatsapp-square {
  color: #25D366;
}

.copyright {
  text-align: center;
  padding-top: 5%;
}


/* Slidshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
