/* whole page*/
body {
  font-family: 'Roboto-Medium', sans-serif;
}

h1 {
  font-family: 'Roboto-Medium', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}

/* main section */
#main {
  background-color: rgb(215, 54, 61);
  color: rgb(255, 255, 255);
}

.container-fluid {
  padding: 2% 15% 5%;
}

.container {
  margin-top: 4.5%;
}

.navbar-brand {
  font-family: 'Roboto-Bold', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  font-size: 1.3rem;
  padding: 0 15px;
}

.dropdown-menu {
  background-color: rgb(215, 54, 61);
}

.main-text {
  padding-top: 2.3%;
}

.main-photo {
  padding: 4% 15% 2%;
}

.contact-button {
  background-color: rgb(255, 204, 3);
  font-weight: bold;
  margin: 5% 3% 5% 0;
}

.contact-button:hover {
  transform: scale(1.05) perspective(1px);
}